
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html,body
{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: peachpuff;
}
.nav
{
    display: flex;
    background-color: black;
    color: white;
}
.logo_container
{
    display: flex;
    color: white;
    gap: 5px;
    margin-left: 10px;
}
.logo_container img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 10px 0;
}
.logo_container h1
{
    font-size: 20px;
    font-weight: 500;
    margin: auto;
}
ul
{
    display: flex;
    list-style: none;
    margin: auto 20px;
    gap:20px
}
li
{
    list-style: none;
    margin: auto;
    font-weight: 300;
}
.hero
{
    width: 80%;
    min-height: 75vh;
    background-color: black;
    color: white;
    margin: 35px auto;
    border-radius: 10px;
    background-image: url(wallpaper for computer.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hero h2
{
    font-size: 32px;
    font-weight: 400;
    padding-left: 3%;
    padding-top: 2%;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-family: Roboto;
}
.list
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.design
{
    background-color: white;
    color: black;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 48% 1px 20px;
}
.design span
{
    padding:auto 10px;
}
.image_container img
{
    border-radius: 50px;
    /* overflow: hidden; */
    margin: 2px 10px;
}
.cover
{
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.name
{
    font-size: 14px;
    font-weight: 500;
    margin:auto 0;
}

.info
{
    font-size: 14px;
    font-weight: 400;
    margin: auto 10px;
    display: flex;
    gap: 2px;

}

.info h3{
    font-size: 15px;
    font-weight: 400;
}

#play
{
    margin:auto 0;

}
.player
{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
}
.icons
{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


#progress-el
{
    min-width: 50%;
    cursor: pointer;
}
